<p>
  Join us for the first Planning Code Camp, 
  a 5-week bootcamp and learn software tools for analyzing large data in 
  planning including R, Dataviz, tidyverse, bash, dyplr, Git, and Github.

Workshop runs from January - February (Week 3 - Week 8). 
  We will serve dinner each session and have planning professionals give lightning 
  talks at the start and end of the bootcamp. We will end with a hackathon that allows 
  students to apply their newly learned skills to address a local civic issue.

Although we encourage registrants to attend every session, 
  you are welcome to attend individual workshop sessions if you already have 
  knowledge of particular skills. When registering, please indicate if you are planning on skipping any sessions, 
  so we have accurate counts for each session.


  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
