<div class="row">
  <div class="col-md-6">
    <h3>Jan 23: Open Data Transit Toolkit & OpenRefine</h3>
    <table class="table table-striped">
      <tr> <td>05:00</td>  <td>Speaker: Raymond Chao - Open Data Transit Toolkit</td> </tr>
      <tr> <td>05:45</td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/01-introduction/index.html">Introduction</a> and <a href="https://datacarpentry.org/openrefine-socialsci/02-working-with-openrefine/index.html">Working with OpenRefine</a></td> </tr>
      <tr> <td>06:40</td>  <td>Break</td> </tr>
      <tr> <td>06:50</td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/02-working-with-openrefine/index.html">Working with OpenRefine</a>(cont.)</td> </tr>
      <tr> <td>07:30</td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/05-scripts/index.html">Using Scripts</a> & <a href="https://datacarpentry.org/openrefine-socialsci/06-saving/index.html">Saving Data</a></td> </tr>
      <tr> <td>08:00</td>  <td><a href="https://goo.gl/forms/gdwXGivkbXTO97CR2" target="_blank">Feedback Survey</a></td> </tr>
      <tr> <td>08:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Jan 28: Intro to R/GGPLOT2</h3>
    <table class="table table-striped">
    <tr> <td>05:00</td>  <td>Speaker:<a href="http://transitcenter.org/author/mbuchanan/">Mary Buchannan</a> - TransitCenter</td> </tr>
    <tr> <td>05:45</td>  <td><a href="https://ucla-data-archive.github.io/intro-r-tidyv/01-rstudio-intro/index.html">Intro to R/RStudio</a> & <a href="https://ucla-data-archive.github.io/intro-r-tidyv/02-project-intro/index.html">Project Management</a> </td> </tr>
    <tr> <td>06:40</td>  <td>Break</td> </tr>
    <tr> <td>06:50</td>  <td><a href="https://ucla-data-archive.github.io/intro-r-tidyv/05-visualization/index.html">Data Visualization with Transit Data</a></td> </tr>
    <tr> <td>08:00</td>  <td><a href="https://goo.gl/forms/gdwXGivkbXTO97CR2" target="_blank">Feedback Survey</a></td> </tr>
    <tr> <td>08:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Feb 4: Data Manipulation with Dplyr</h3>
    <table class="table table-striped">
      <tr> <td>05:00</td>  <td>Speaker</td> </tr>
      <tr> <td>05:45</td>  <td>Brief Review & TidyCensus</td> </tr>
      <tr> <td>06:40</td>  <td>Break</td> </tr>
      <tr> <td>07:00</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder/13-dplyr/index.html">Dataframe manipulation with Dplyr</a> & <a href="http://swcarpentry.github.io/r-novice-gapminder/14-tidyr/index.html">TidyR</a></td> </tr>
      <tr> <td>08:00</td>  <td><a href="https://goo.gl/forms/gdwXGivkbXTO97CR2" target="_blank">Feedback Survey</a></td> </tr>
      <tr> <td>08:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Feb 11: Git & GitHub</h3>
    <table class="table table-striped">
    <tr> <td>05:00</td>  <td>Speaker</td> </tr>
    <tr> <td>05:45</td>  <td>Introduction </td> </tr>
    <tr> <td>06:40</td>  <td>Break</td> </tr>
    <tr> <td>06:50</td>  <td>Tracking Changes</td> </tr>
    <tr> <td>07:30</td>  <td>Collaborating with GitHub</td> </tr>
    <tr> <td>08:00</td>  <td><a href="https://goo.gl/forms/gdwXGivkbXTO97CR2" target="_blank">Feedback Survey</a></td> </tr>
    <tr> <td>08:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
